Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
ColumnLimit: 80
Standard: Cpp11
BreakBeforeBraces: Allman
IndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: true

AlignConsecutiveAssignments: true
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: true